<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage full-screen backgrounds." />
	<meta name="keywords" content="fullpage,jquery,demo,screen,fullscreen,backgrounds,full-screen" />
	<meta name="Resource-type" content="Document" />
	<link rel="stylesheet" type="text/css" href="~/css/fullpage.css"> <!--Для полноэкранной прокрутки-->
	<link rel="stylesheet" type="text/css" href="~/css/csstest.css"> <!--Для полноэкранной прокрутки-->
	<link rel="stylesheet" type="text/css" href="~/css/forma.css"> <!--css для формы заполнения-->
	<link rel="stylesheet" type="text/css" href="~/css/maincss.css">  <!--css для формы оформления общего текста, шрифты и тд-->
	<style>
		
	</style>
</head>
<body>
	<main role="main" class="pb-3">
		@RenderBody()
	</main>
</body>
</html>